# Global ownership
* @pipeops-platform/reviewers

# Infrastructure ownership
/terraform/ @pipeops-platform/reviewers
/ansible/ @pipeops-platform/reviewers
/scripts/ @pipeops-platform/reviewers
/docs/ @pipeops-platform/reviewers
